@font-face {
    font-family: 'Gotham Pro';
    src: url('../../fonts/subset-GothamPro-Black.woff2') format('woff2'),
        url('../../fonts/subset-GothamPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: optional;
}