.intro-block {
	margin: auto;
	width: 213px;
	height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	-webkit-animation-name: intro_ball;
	-moz-animation-name: intro_ball;
	-o-animation-name: intro_ball;
	animation-name: intro_ball;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s; 
	-webkit-animation-timing-function: cubic-bezier(.79,.1,.45,.99);
	-moz-animation-timing-function: cubic-bezier(.79,.1,.45,.99);
	-o-animation-timing-function: cubic-bezier(.79,.1,.45,.99);
	animation-timing-function: cubic-bezier(.79,.1,.45,.99);
	-webkit-animation-delay: 0.2s; 
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	transform-origin: center bottom;
}
.intro-block__logo {
	width: 115px;
	height: 185px;
	overflow: hidden;
	margin: auto;
	background-repeat: no-repeat;
}
.intro-block__button-link {
	display: inline-block;
	overflow: hidden;
	line-height: 45px;
	width: 207px; 
	height: 45px;
	border: 1px solid #1c5bc4;
	border-radius: 3px;
	transition: 0.5s;
	background-color: transparent;
	overflow: hidden;
	text-align: center;
}
.button-goto__text {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1c5bc4;
	letter-spacing: 0.18em;
}	
.button-goto__text:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 14px;
	vertical-align: middle;
	background-image: url(../../img/icon/array_sprite.png);
	background-position: -75px -20px;
	background-repeat: no-repeat;
	margin-left: 9px;
}
.intro-block__button-link:hover {
	background-color: #1c5bc4;
	border: 1px solid transparent;
}
.intro-block__button-link:hover .button-goto__text {
	color: white;
}
.intro-block__button-link:hover .button-goto__text:after {
	background-position: -20px -20px;
}